<h1>It's working</h1>

<p>
  <%= link_to "Add New Line", new_line_path, :class => "btn btn-default" %>
</p>

<ul>
  <% @lines.each do |line| %>
    <li><a href="<%= lines_path(line) %>">line.name</a></li>
  <% end %>
</ul>
